/* index.module.css for Sidebar */

.sidebar {
  position: relative; /* Change from fixed to relative */
  background-color: #333;
  color: white;
  transition: width 0.3s ease;
  overflow: hidden;
  padding: 1rem;
}

.collapsed {
  width: 50px; /* Collapsed width */
}

.expanded {
  width: 90px; /* Expanded width */
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem; /* Space below the logo */
  cursor: pointer; /* Change cursor to pointer */
  text-align: center; /* Center the logo text */
}

.sidebarLinks {
  list-style: none;
  padding: 0; /* Remove default padding */
}

.sidebarLinks li {
  margin: 1rem 0; /* Space between items */
  cursor: pointer;
}

.sidebarLinks a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s; /* Smooth color transition */
}

.sidebarLinks a:hover {
  color: #998f8f; /* Change to your accent color */
}

.sidebarContent {
  position: fixed;
  top: auto;
}