/* container */
.main-container  {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.page-title {
  font-size: 3rem;
}

.container-title {
  font-size: 1.5rem;
}
/* end of container */







/* navigation bar */
.navbar-ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.navbar-li a {
  display: block;
  color: white;
  text-align: center;
  margin-left: 2rem;
  margin-top: 2rem;
  text-decoration: none;
  float: left;
}

.navbar-li {
  float: left;
}

.navbar-li img {
  width: 15rem;
}

.web-logo {
  width: 15rem;
}
/* end of navigation bar */







/* home page */
.home-left-container {
  width: 40rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  margin-top: 20rem;
  margin: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.home-right-container {
  width: 35rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  border-radius: 1rem;
  display: flex;
  margin: 3rem;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-right-container a {
  text-decoration: none;
}
/* end of home page */






/* about page */
.about-container {
  width: 50rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  display: flex;
  margin: 1rem;
  border-radius: 1rem;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* end of about page*/

.service-container {
  width: 25rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.5rem;
  border-radius: 1rem;
  display: flex;
  margin: 2.1rem;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}





/* projects page */

.project-container {
  width: 30rem;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  display: flex;
  border-radius: 1rem;
  margin: 2rem;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-container a {
  text-decoration: none;
}

.project-image {
  object-fit: cover;
  width: 100%
}

.image-bg {
  background: white;
}

/* end of project page */






/* skills page*/
 .skills-container {
   width: 15rem;
   background-color: rgba(0, 0, 0, 0.6);
   font-size: 1.5rem;
   display: flex;
   margin: 1rem;
   border-radius: 1rem;
   padding: 0;
   text-align: center;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 .skills-container img{
   width: 10rem;
   margin: 2rem;
 }
/*  end of skill page  */




/* footer */
.footer {
  color: white;
  background: #2E2E2E;
  height: 2.5rem;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}
/* end of footer */








/* default page */

.default-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 3.5rem;
  margin: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
}

/* end of default page */






/* media queries */
@media only screen and (max-width: 1328px) {
  .home-left-container {
     justify-content: center;
     text-align: center;
     align-items: center;
  }
}

@media only screen and (min-width: 665px) and (max-width: 781px) {
  .page-title {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 664px) {
  .page-title {
    font-size: 2rem;
  }
  .container-title {
    font-size: 1.2rem;
  }
  .home-left-container {
    font-size: 1.2rem;
  }
  .project-container {
    font-size: 1rem;
  }
  .service-container {
    font-size: 1.2rem;
  }
  .skills-container {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 104px) and (max-width: 600px) {
  .skills-container {
    width: 7rem;
    margin-top: 2rem;
  }

  .skills-container img {
    width: 3rem;
  }
}

/*
@media only screen and (max-width: 383px) {
  .skills-container {
    width: 9rem;
    height: 15rem;
  }

  .skills-container img {
    width: 3rem;
  }
}
/* end of media queries */
