.module_main_container {
    text-align: center;
    padding: .5rem;
    background: #3a3a3a;
    color: white;
    font-family: "Arial", sans-serif;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .skillsFlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-height: 100%; /* Limit the height of the container to avoid overflow */
  }
  
  .card {
    width: 300px;
    height: 200px;
    background: transparent;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    perspective: 1000px;
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
  }
  
  .cardFront,
  .cardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 1px solid #fff;
  }
  
  .cardFront {
    background: transparent;
  }
  
  .cardBack {
    background: transparent;
    transform: rotateY(180deg);
    padding: 10px;
    font-size: 1rem;
    text-align: center;
  }
  
  .cardFront img {
    max-width: 100px; /* Set the size for each logo */
    width: 100%;
    object-fit: contain; /* Ensures the image doesn't stretch or distort */
    margin-bottom: 10px;
  }
  
  /* Media Query for 550px screen size and below to hide images */
  @media (max-width: 550px) {
    .cardFront img {
      display: none; /* Hide the images */
    }
  }
  
  /* Media Query for 1415px screen size and below */
  @media (max-width: 1415px) {
    .card {
      width: 250px; /* Reduce card width */
      height: 150px; /* Reduce card height */
    }
  
    .cardFront img {
      max-width: 80px; /* Reduce image size */
      width: 80px;
      margin-bottom: 8px; /* Adjust margin for smaller size */
    }
  }
  
  /* Media Query for 1024px screen size and below */
  @media (max-width: 1024px) {
    .card {
      width: 200px; /* Further reduce card size */
      height: 150px;
    }
  
    .cardFront img {
      max-width: 70px; /* Reduce image size */
      width: 70px;
      margin-bottom: 6px;
    }

    .cardFront,
    .cardBack {
      font-size: .85rem; /* Adjust font size for smaller screens */
    }
  }
  
  /* Media Query for 768px screen size and below */
  @media (max-width: 768px) {
    .card {
      width: 180px; /* Further reduce card size */
      height: 150px;
    }
  
    .cardFront img {
      max-width: 60px; /* Reduce image size */
      width: 60px;
      margin-bottom: 4px;
    }
  }
  
  /* Media Query for 480px screen size and below */
  @media (max-width: 495px) {
    .card {
      width: 150px; /* Further reduce card size */
      height: 120px;
    }
  
    .cardFront img {
      max-width: 50px; /* Reduce image size */
      width: 50px;
      margin-bottom: 2px;
    }
  }

  @media (max-width: 430px) {
    .card {
      padding: 5px;
      width: 90px; /* Further reduce card size */
      height: 100px;
    }

    .skillname {
        font-size: .85rem;
    }
  
    .cardFront img {
      max-width: 50px; /* Reduce image size */
      width: 50px;
      margin-bottom: 2px;
    }
  
    .cardFront,
    .cardBack {
      font-size: .5rem; /* Adjust font size for smaller screens */
      font-weight: bold;
    }
  }

  
  